
 <div class="administration-css" > 
        
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="mat-card-css-administration">
                    <!-- <mat-card-header>
                        Registration
                    </mat-card-header> -->
                    <mat-card-content>

                    </mat-card-content>
               
                    <mat-card-actions>
                        <div class="container">
                            <img src="../../../../assets/images/newregistration.png" alt="Avatar" class="image">
                            <div class="overlay" (click)="onRegistrationClick()">Register admin,students,teachers </div>
                          </div>
                           
                    </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-assign">
                    <!-- <mat-card-header>
                            Assign
                        </mat-card-header> -->
                        <mat-card-content>
    
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="container">
                                        <img src="../../../../assets/images/Assign.PNG" alt="Avatar" class="image-assign">
                                        <div class="overlay" (click)="onRegistrationClick()">Assign classes,subjects </div>
                                      </div>
                        </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-addNew">
                    <!-- <mat-card-header>
                            Add New
                        </mat-card-header> -->
                        <mat-card-content>
    
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="container">
                                        <img src="../../../../assets/images/Addnew.PNG" alt="Avatar" class="image">
                                        <div class="overlay" (click)="onRegistrationClick()">Addnew subjects & class</div>
                                      </div>
                        </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-card-css-approve">
                    <!-- <mat-card-header>
                            Approve
                        </mat-card-header> -->
                        <mat-card-content>
    
                        </mat-card-content>
                        <mat-card-actions>
                                <div class="container">
                                        <img src="../../../../assets/images/Approve.PNG" alt="Avatar" class="image-approve">
                                        <div class="overlay" (click)="onRegistrationClick()">Approve student's articles</div>
                                      </div>
                        </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
</div>

